# library

In [456]:
import pandas as pd

In [457]:
df = pd.read_csv("order_history_kaggle_data.csv")

print(df.head())

   Restaurant ID Restaurant name   Subzone       City    Order ID  \
0       20320607           Swaad  Sector 4  Delhi NCR  6168884918
1       20320607           Swaad  Sector 4  Delhi NCR  6170707559
2       20320607           Swaad  Sector 4  Delhi NCR  6169375019
3       20320607           Swaad  Sector 4  Delhi NCR  6151677434
4       20320607           Swaad  Sector 4  Delhi NCR  6167540897

               Order Placed At Order Status         Delivery Distance  \
0  11:38 PM, September 10 2024    Delivered  Zomato Delivery      3km
1  11:34 PM, September 10 2024    Delivered  Zomato Delivery      2km
2  03:52 PM, September 10 2024    Delivered  Zomato Delivery     <1km
3  03:45 PM, September 10 2024    Delivered  Zomato Delivery      2km
4  03:04 PM, September 10 2024    Delivered  Zomato Delivery      2km

                                      Items in order  ... Rating Review  \
0  1 x Grilled Chicken Jamaican Tender, 1 x Grill...  ...    NaN    NaN
1  1 x Peri Peri Fries, 1 x Fried Chicken Angara ...  ...    NaN    NaN
2              1 x Bone in Peri Peri Grilled Chicken  ...    NaN    NaN
3  1 x Fried Chicken Ghostbuster Tender, 1 x Anga...  ...    4.0    NaN
4  1 x Peri Peri Krispers, 1 x Fried Chicken Anga...  ...    NaN    NaN

   Cancellation / Rejection reason  Restaurant compensation (Cancellation)  \
0                              NaN                                     NaN
1                              NaN                                     NaN
2                              NaN                                     NaN
3                              NaN                                     NaN
4                              NaN                                     NaN

   Restaurant penalty (Rejection)  KPT duration (minutes)  \
0                             NaN                   18.35
1                             NaN                   16.95
2                             NaN                   14.05
3                             NaN                   19.00
4                             NaN                   15.97

   Rider wait time (minutes)  Order Ready Marked  Customer complaint tag  \
0                       11.6           Correctly                     NaN
1                        3.6           Correctly                     NaN
2                       12.2           Correctly                     NaN
3                        3.3           Correctly                     NaN
4                        1.0           Correctly                     NaN

                                         Customer ID
0  5d6c2b96db963098bc69768bea504c8bf46106a8a5178e...
1  0781815deb4a10a574e9fee4fa0b86b074d4a0b36175d5...
2  f93362f5ce5382657482d164e368186bcec9c6225fd93d...
3  1ed226d1b8a5f7acee12fc1d6676558330a3b2b742af5d...
4  d21a2ac6ea06b31cc3288ab20c4ef2f292066c096f2c5f...

[5 rows x 29 columns]

In [458]:
df.dtypes

Restaurant ID                                           int64
Restaurant name                                        object
Subzone                                                object
City                                                   object
Order ID                                                int64
Order Placed At                                        object
Order Status                                           object
Delivery                                               object
Distance                                               object
Items in order                                         object
Instructions                                           object
Discount construct                                     object
Bill subtotal                                         float64
Packaging charges                                     float64
Restaurant discount (Promo)                           float64
Restaurant discount (Flat offs, Freebies & others)    float64
Gold discount                                         float64
Brand pack discount                                   float64
Total                                                 float64
Rating                                                float64
Review                                                 object
Cancellation / Rejection reason                        object
Restaurant compensation (Cancellation)                float64
Restaurant penalty (Rejection)                        float64
KPT duration (minutes)                                float64
Rider wait time (minutes)                             float64
Order Ready Marked                                     object
Customer complaint tag                                 object
Customer ID                                            object
dtype: object

In [459]:
df.describe()

,Restaurant ID,Order ID,Bill subtotal,Packaging charges,Restaurant discount (Promo),"Restaurant discount (Flat offs, Freebies & others)",Gold discount,Brand pack discount,Total,Rating,Restaurant compensation (Cancellation),Restaurant penalty (Rejection),KPT duration (minutes),Rider wait time (minutes)
count,2.132100e+04,2.132100e+04,21321.000000,21321.000000,21321.000000,21321.000000,21321.000000,21321.000000,21321.000000,2491.000000,133.000000,3.0,21026.000000,21153.000000
mean,2.074413e+07,6.354622e+09,750.076838,32.564592,65.091816,31.795058,0.099128,3.039324,682.616113,4.356885,356.409549,0.0,17.332960,4.825070
std,2.447193e+05,1.230263e+08,498.759428,22.235898,85.401604,131.487091,3.264261,17.070780,465.313977,1.181472,328.128240,0.0,6.283388,4.982591
min,2.032061e+07,6.086767e+09,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000,52.500000,1.000000,83.580000,0.0,0.000000,0.100000
25%,2.063570e+07,6.250751e+09,459.000000,18.450000,0.000000,0.000000,0.000000,0.000000,387.450000,4.000000,191.950000,0.0,13.380000,1.000000
50%,2.065987e+07,6.357715e+09,629.000000,28.450000,80.000000,0.000000,0.000000,0.000000,597.450000,5.000000,272.580000,0.0,16.330000,3.100000
75%,2.088265e+07,6.456827e+09,899.000000,39.950000,100.000000,0.000000,0.000000,0.000000,837.900000,5.000000,397.840000,0.0,20.050000,7.400000
max,2.152306e+07,6.573392e+09,16080.000000,603.000000,4020.000000,7787.000000,280.100000,554.800000,12663.000000,5.000000,3236.980000,0.0,90.870000,73.800000

# Clean data

missing values

In [460]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21321 entries, 0 to 21320
Data columns (total 29 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Restaurant ID                                       21321 non-null  int64
 1   Restaurant name                                     21321 non-null  object
 2   Subzone                                             21321 non-null  object
 3   City                                                21321 non-null  object
 4   Order ID                                            21321 non-null  int64
 5   Order Placed At                                     21321 non-null  object
 6   Order Status                                        21321 non-null  object
 7   Delivery                                            21321 non-null  object
 8   Distance                                            21321 non-null  object
 9   Items in order                                      21321 non-null  object
 10  Instructions                                        720 non-null    object
 11  Discount construct                                  15823 non-null  object
 12  Bill subtotal                                       21321 non-null  float64
 13  Packaging charges                                   21321 non-null  float64
 14  Restaurant discount (Promo)                         21321 non-null  float64
 15  Restaurant discount (Flat offs, Freebies & others)  21321 non-null  float64
 16  Gold discount                                       21321 non-null  float64
 17  Brand pack discount                                 21321 non-null  float64
 18  Total                                               21321 non-null  float64
 19  Rating                                              2491 non-null   float64
 20  Review                                              296 non-null    object
 21  Cancellation / Rejection reason                     186 non-null    object
 22  Restaurant compensation (Cancellation)              133 non-null    float64
 23  Restaurant penalty (Rejection)                      3 non-null      float64
 24  KPT duration (minutes)                              21026 non-null  float64
 25  Rider wait time (minutes)                           21153 non-null  float64
 26  Order Ready Marked                                  21321 non-null  object
 27  Customer complaint tag                              469 non-null    object
 28  Customer ID                                         21321 non-null  object
dtypes: float64(12), int64(2), object(15)
memory usage: 4.7+ MB

,Restaurant ID,Restaurant name,Subzone,City,Order ID,Order Placed At,Order Status,Delivery,Distance,Items in order,...,Rating,Review,Cancellation / Rejection reason,Restaurant compensation (Cancellation),Restaurant penalty (Rejection),KPT duration (minutes),Rider wait time (minutes),Order Ready Marked,Customer complaint tag,Customer ID
0,20320607,Swaad,Sector 4,Delhi NCR,6168884918,"11:38 PM, September 10 2024",Delivered,Zomato Delivery,3km,"1 x Grilled Chicken Jamaican Tender, 1 x Grill...",...,NaN,NaN,NaN,NaN,NaN,18.35,11.6,Correctly,NaN,5d6c2b96db963098bc69768bea504c8bf46106a8a5178e...
1,20320607,Swaad,Sector 4,Delhi NCR,6170707559,"11:34 PM, September 10 2024",Delivered,Zomato Delivery,2km,"1 x Peri Peri Fries, 1 x Fried Chicken Angara ...",...,NaN,NaN,NaN,NaN,NaN,16.95,3.6,Correctly,NaN,0781815deb4a10a574e9fee4fa0b86b074d4a0b36175d5...
2,20320607,Swaad,Sector 4,Delhi NCR,6169375019,"03:52 PM, September 10 2024",Delivered,Zomato Delivery,<1km,1 x Bone in Peri Peri Grilled Chicken,...,NaN,NaN,NaN,NaN,NaN,14.05,12.2,Correctly,NaN,f93362f5ce5382657482d164e368186bcec9c6225fd93d...
3,20320607,Swaad,Sector 4,Delhi NCR,6151677434,"03:45 PM, September 10 2024",Delivered,Zomato Delivery,2km,"1 x Fried Chicken Ghostbuster Tender, 1 x Anga...",...,4.0,NaN,NaN,NaN,NaN,19.00,3.3,Correctly,NaN,1ed226d1b8a5f7acee12fc1d6676558330a3b2b742af5d...
4,20320607,Swaad,Sector 4,Delhi NCR,6167540897,"03:04 PM, September 10 2024",Delivered,Zomato Delivery,2km,"1 x Peri Peri Krispers, 1 x Fried Chicken Anga...",...,NaN,NaN,NaN,NaN,NaN,15.97,1.0,Correctly,NaN,d21a2ac6ea06b31cc3288ab20c4ef2f292066c096f2c5f...

In [461]:
missing_values = df.isna().sum()
missing_columns = missing_values[missing_values > 0]

print(missing_columns)

Instructions                              20601
Discount construct                         5498
Rating                                    18830
Review                                    21025
Cancellation / Rejection reason           21135
Restaurant compensation (Cancellation)    21188
Restaurant penalty (Rejection)            21318
KPT duration (minutes)                      295
Rider wait time (minutes)                   168
Customer complaint tag                    20852
dtype: int64

In [462]:
column_names = list(missing_columns.index)

print("Missing Columns\n")

i = 1

for c in column_names:
    print(f"[{i}]",c)
    i += 1
    
df[missing_columns.index].head()

Missing Columns

[1] Instructions
[2] Discount construct
[3] Rating
[4] Review
[5] Cancellation / Rejection reason
[6] Restaurant compensation (Cancellation)
[7] Restaurant penalty (Rejection)
[8] KPT duration (minutes)
[9] Rider wait time (minutes)
[10] Customer complaint tag

,Instructions,Discount construct,Rating,Review,Cancellation / Rejection reason,Restaurant compensation (Cancellation),Restaurant penalty (Rejection),KPT duration (minutes),Rider wait time (minutes),Customer complaint tag
0,NaN,40% off upto Rs.80,NaN,NaN,NaN,NaN,NaN,18.35,11.6,NaN
1,NaN,Flat Rs.175 off,NaN,NaN,NaN,NaN,NaN,16.95,3.6,NaN
2,NaN,40% off upto Rs.80,NaN,NaN,NaN,NaN,NaN,14.05,12.2,NaN
3,NaN,40% off upto Rs.80,4.0,NaN,NaN,NaN,NaN,19.00,3.3,NaN
4,NaN,40% off upto Rs.80,NaN,NaN,NaN,NaN,NaN,15.97,1.0,NaN

In [463]:
df['Instructions'] = df['Instructions'].fillna("No Instructions")
df['Discount construct'] = df['Discount construct'].fillna("No Discount construct")
# df['Rating'] = df['Rating'].fillna(0)
df['Review'] = df['Review'].fillna("No Review")
df['Cancellation / Rejection reason'] = df['Cancellation / Rejection reason'].fillna('No reason')
df['Restaurant compensation (Cancellation)'] = df['Restaurant compensation (Cancellation)'].fillna('No Cancellation')
df['Restaurant penalty (Rejection)'] = df['Restaurant penalty (Rejection)'].fillna('No rejection')
# df['KPT duration (minutes)'] = df['KPT duration (minutes)'].fillna(0)
# df['Rider wait time (minutes)'] = df['Rider wait time (minutes)'].fillna(0)
df['Customer complaint tag'] = df['Customer complaint tag'].fillna("None")

df[missing_columns.index].head()

,Instructions,Discount construct,Rating,Review,Cancellation / Rejection reason,Restaurant compensation (Cancellation),Restaurant penalty (Rejection),KPT duration (minutes),Rider wait time (minutes),Customer complaint tag
0,No Instructions,40% off upto Rs.80,NaN,No Review,No reason,No Cancellation,No rejection,18.35,11.6,None
1,No Instructions,Flat Rs.175 off,NaN,No Review,No reason,No Cancellation,No rejection,16.95,3.6,None
2,No Instructions,40% off upto Rs.80,NaN,No Review,No reason,No Cancellation,No rejection,14.05,12.2,None
3,No Instructions,40% off upto Rs.80,4.0,No Review,No reason,No Cancellation,No rejection,19.00,3.3,None
4,No Instructions,40% off upto Rs.80,NaN,No Review,No reason,No Cancellation,No rejection,15.97,1.0,None

For NaN column (Number)

In [464]:
df_raw = pd.read_csv("order_history_kaggle_data.csv")
df_fn = df_raw.copy()

print("0 คือค่าที่เป็น False มีค่าอยู่ไม่ NaN \n1 คือค่าที่เป็น True คือในที่นี้คือค่านี้เป็น NaN")
 
# เพื่อเอามาเเยกว่าข้อมูลตัวแปรที่เป็น int มีลักษณะยังไง เพื่อดูความสัมพันธ์กัน

df_fn['KPT_missing'] = df_raw['KPT duration (minutes)'].isna().replace({True:'Not Record',False:'Recorded'})
df_fn['Rating_missing'] = df_raw['Rating'].isna().replace({True:'Unrated',False:'Rated'})
df_fn['Rider_missing'] = df_raw['Rider wait time (minutes)'].isna().replace({True:'Not Record',False:'Recorded'})

df_fn['Rating'] = df['Rating'].fillna(0)
df_fn['KPT duration (minutes)'] = df['KPT duration (minutes)'].fillna(0)
df_fn['Rider wait time (minutes)'] = df['Rider wait time (minutes)'].fillna(0)

df_fn[['KPT duration (minutes)','KPT_missing','Rating','Rating_missing','Rider wait time (minutes)','Rider_missing']]

0 คือค่าที่เป็น False มีค่าอยู่ไม่ NaN
1 คือค่าที่เป็น True คือในที่นี้คือค่านี้เป็น NaN

,KPT duration (minutes),KPT_missing,Rating,Rating_missing,Rider wait time (minutes),Rider_missing
0,18.35,Recorded,0.0,Unrated,11.6,Recorded
1,16.95,Recorded,0.0,Unrated,3.6,Recorded
2,14.05,Recorded,0.0,Unrated,12.2,Recorded
3,19.00,Recorded,4.0,Rated,3.3,Recorded
4,15.97,Recorded,0.0,Unrated,1.0,Recorded
...,...,...,...,...,...,...
21316,14.32,Recorded,0.0,Unrated,9.0,Recorded
21317,0.00,Not Record,0.0,Unrated,10.8,Recorded
21318,16.27,Recorded,5.0,Rated,9.4,Recorded
21319,12.77,Recorded,4.0,Rated,1.3,Recorded
21320,16.52,Recorded,0.0,Unrated,8.7,Recorded

In [465]:
df['Instructions'] = df['Instructions'].fillna("No Instructions")
df['Discount construct'] = df['Discount construct'].fillna("No Discount construct")
df['Rating'] = df['Rating'].fillna(0)
df['Review'] = df['Review'].fillna("No Review")
df['Cancellation / Rejection reason'] = df['Cancellation / Rejection reason'].fillna('No reason')
df['Restaurant compensation (Cancellation)'] = df['Restaurant compensation (Cancellation)'].fillna('No Cancellation')
df['Restaurant penalty (Rejection)'] = df['Restaurant penalty (Rejection)'].fillna('No rejection')
df['KPT duration (minutes)'] = df['KPT duration (minutes)'].fillna(0)
df['Rider wait time (minutes)'] = df['Rider wait time (minutes)'].fillna(0)
df['Customer complaint tag'] = df['Customer complaint tag'].fillna("None")

df[missing_columns.index].head()

,Instructions,Discount construct,Rating,Review,Cancellation / Rejection reason,Restaurant compensation (Cancellation),Restaurant penalty (Rejection),KPT duration (minutes),Rider wait time (minutes),Customer complaint tag
0,No Instructions,40% off upto Rs.80,0.0,No Review,No reason,No Cancellation,No rejection,18.35,11.6,None
1,No Instructions,Flat Rs.175 off,0.0,No Review,No reason,No Cancellation,No rejection,16.95,3.6,None
2,No Instructions,40% off upto Rs.80,0.0,No Review,No reason,No Cancellation,No rejection,14.05,12.2,None
3,No Instructions,40% off upto Rs.80,4.0,No Review,No reason,No Cancellation,No rejection,19.00,3.3,None
4,No Instructions,40% off upto Rs.80,0.0,No Review,No reason,No Cancellation,No rejection,15.97,1.0,None

# Format Data

Date

ไว้เพื่อแปลงรูปแบบของเวลา

In [466]:
df_raw_t = pd.read_csv("order_history_kaggle_data.csv")
df_t = df_raw_t

df_t['Order Placed At'] = pd.to_datetime(df_raw_t['Order Placed At'],format='%I:%M %p, %B %d %Y')

In [467]:
df_t['Order Placed At']

0       2024-09-10 23:38:00
1       2024-09-10 23:34:00
2       2024-09-10 15:52:00
3       2024-09-10 15:45:00
4       2024-09-10 15:04:00
                ...
21316   2025-01-30 03:26:00
21317   2025-01-29 02:44:00
21318   2025-01-24 22:05:00
21319   2025-01-21 14:27:00
21320   2025-01-21 02:55:00
Name: Order Placed At, Length: 21321, dtype: datetime64[ns]

Distance

In [468]:
df_raw_d = pd.read_csv('order_history_kaggle_data.csv')
df_d = df_raw_d

df_d['Distance_km'] = df['Distance']
df_d['Distance_km'] = df_d['Distance_km'].replace('<1km','0.5')

df_d['Distance_km'] = df_d['Distance_km'].str.replace('km','')

df_d['Distance_km'] = df_d['Distance_km'].astype(float)

df_d['Distance_km'].head()

0    3.0
1    2.0
2    0.5
3    2.0
4    2.0
Name: Distance_km, dtype: float64

In [469]:
df['Distance'] = df_d['Distance_km']
df['Order Placed At'] =df_t['Order Placed At']

df['KPT_missing'] = df_fn['KPT_missing']
df['Rating_missing'] = df_fn['Rating_missing']
df['Rider_missing'] = df_fn['Rider_missing']

#df[['KPT duration (minutes)','KPT_missing','Rating','Rating_missing','Rider wait time (minutes)','Rider_missing']]
df.head()

,Restaurant ID,Restaurant name,Subzone,City,Order ID,Order Placed At,Order Status,Delivery,Distance,Items in order,...,Restaurant compensation (Cancellation),Restaurant penalty (Rejection),KPT duration (minutes),Rider wait time (minutes),Order Ready Marked,Customer complaint tag,Customer ID,KPT_missing,Rating_missing,Rider_missing
0,20320607,Swaad,Sector 4,Delhi NCR,6168884918,2024-09-10 23:38:00,Delivered,Zomato Delivery,3.0,"1 x Grilled Chicken Jamaican Tender, 1 x Grill...",...,No Cancellation,No rejection,18.35,11.6,Correctly,None,5d6c2b96db963098bc69768bea504c8bf46106a8a5178e...,Recorded,Unrated,Recorded
1,20320607,Swaad,Sector 4,Delhi NCR,6170707559,2024-09-10 23:34:00,Delivered,Zomato Delivery,2.0,"1 x Peri Peri Fries, 1 x Fried Chicken Angara ...",...,No Cancellation,No rejection,16.95,3.6,Correctly,None,0781815deb4a10a574e9fee4fa0b86b074d4a0b36175d5...,Recorded,Unrated,Recorded
2,20320607,Swaad,Sector 4,Delhi NCR,6169375019,2024-09-10 15:52:00,Delivered,Zomato Delivery,0.5,1 x Bone in Peri Peri Grilled Chicken,...,No Cancellation,No rejection,14.05,12.2,Correctly,None,f93362f5ce5382657482d164e368186bcec9c6225fd93d...,Recorded,Unrated,Recorded
3,20320607,Swaad,Sector 4,Delhi NCR,6151677434,2024-09-10 15:45:00,Delivered,Zomato Delivery,2.0,"1 x Fried Chicken Ghostbuster Tender, 1 x Anga...",...,No Cancellation,No rejection,19.00,3.3,Correctly,None,1ed226d1b8a5f7acee12fc1d6676558330a3b2b742af5d...,Recorded,Rated,Recorded
4,20320607,Swaad,Sector 4,Delhi NCR,6167540897,2024-09-10 15:04:00,Delivered,Zomato Delivery,2.0,"1 x Peri Peri Krispers, 1 x Fried Chicken Anga...",...,No Cancellation,No rejection,15.97,1.0,Correctly,None,d21a2ac6ea06b31cc3288ab20c4ef2f292066c096f2c5f...,Recorded,Unrated,Recorded